html{background-color: #FAFAFA;}

a{color: #ABCB89;}

nav{
  font-family: serif;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

h1{
  text-align: center;
  font-size: 36px;
  font-family: Lisichka Comic;
  color:#000000;
}

h2{
  text-align: left;
  font-family:  Lisichka Comic;
  margin-left: 17%;
  font-size: 24px;
  color:#212121;
}

h3{
  text-align: center;
  font-size: 26px;
  font-family: Lisichka Comic;
  color: #212121;
}
h4{
  text-align: center;
  font-size: 22px;
  font-family: Lisichka Comic;
  color: #212121;
}

p{
  text-align: center;
  font-family:Minion Pro;
  color:#212121;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 22px;
}

ul{
  text-align:left;
  font-family:Minion Pro;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 22px;
  color:#212121;
}

ol{
  text-align: left;
  font-family:Minion Pro;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 22px;
  color:#212121;
}

.button{
    position: relative;
    background-color: #AED581;
    border-radius: none;
    font-size: 22px;
    margin: none;
    color: #F1F8E9;
    font-family: Lisichka Comic;
    padding: 14px;
    border: 1px;
    width: 160px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    position: relative;
    width: 75%;
}

.image {
  opacity: 1;
  display: block;
  float: right;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image { opacity: 0.3; }

.container:hover .middle { opacity: 1; }

.dropbutton{
  position: relative;
  background-color: #AED581;
  border-radius: none;
  font-size: 22px;
  margin: none;
  color: #F1F8E9;
  font-family: Lisichka Comic;
  padding: 14px;
  border: 1px;
  width: 160px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: Lisichka Comic;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #f1f1f1 }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .dropbtn { background-color: #3e8e41;}

#myDIV {
    width: 140px;
    background-color:#AED581;
    margin: auto;
    -webkit-animation: mymove 8s infinite; /* Chrome, Safari, Opera */
    animation: mymove 8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {width: 600px;}

}

/* Standard syntax */
@keyframes mymove {
    50% {width: 600px;}
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
